footer {
    margin: 0;
    padding: 0;
}

.container_footer {
    background-color: white;
}

.footer_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_foot {
    height: 6rem;
    border-radius: 25%;
    transition: 0.8s;
    padding: 0.5rem;

}

.copy_div {
    border-top: 1px solid rgb(105, 209, 174, .2);
    margin: 0 15rem 0 15rem;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 1rem;
    font-weight: bold;

}

.redes_sociales {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.icon_redes {
    font-size: 4rem;
    transition: 0.8s;
    padding: 1rem;

}

.logo_foot:hover {
    transform: scale(1.2) translateY(1rem);


}

.logo_foot:active {
    border: solid 1px rgb(105, 209, 174);

}

.icon_redes:hover {
    color: black;
    transform: scale(1.3) translateX(0.2rem);

}

.icon_redes:active {
    color: rgb(105, 209, 174);
}

#insta_icon {
    color: #ee2a7b;
}

#face_icon {
    color: rgb(24, 119, 242);
}

#whatsapp_icon {
    color: #25D366;
}

@media (max-width: 425px) {
    .copy_div {
        /* display: none; */
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
    }

    .copyright {
        text-align: center;
        font-size: 1rem;
        padding: 1rem;
        font-weight: bold;
    }
}