* {
    margin: 0%;
    /*Elimina todo margen que trae por defecto*/
    padding: 0%;
    /*Elimina todo relleno que trae por defecto*/
    --font-family-sans-serif: "Nunito", sans-serif;
    font-family: "Nunito";
    box-sizing: border-box;
}

.trayect-text {
    column-width: 40vw;
    column-gap: 2rem;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: rgb(105, 209, 174, .2);
    column-count: 2;
    padding: 2rem;

}

.trayect:first-child {
    text-align: center;
    padding: 2vw;
}

mark {
    background: rgb(66, 226, 66);
    border-radius: 2px;
    color: white;
}